.container {
    max-width: 768px;
    min-width: 320px;
    background-color: #fff;
    font-size: 14px;
    margin: auto;
    color: #000;
    font-family: 'Roboto';
}

.header, .footer {
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 10vh;
    background-color: #C4C4C4;
}

.content {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 241px 241px 155px 155px 241px 241px 155px 155px;
    grid-gap: 10px;
    grid-template-areas:
        "name-one name-one name-two"
        "name-one name-one name-three"
        "name-four name-five name-six"
        "name-seven name-seven name-eight"
        "name-nine name-ten name-ten"
        "name-eleven name-ten name-ten"
        "name-twelve name-thirteen name-thirteen"
        "name-fourteen name-fifteen name-sixteen";
    &__item {
        display: grid;
        align-items: end;
        padding: 15px;
        &:nth-child(1) {
            grid-area: name-one;
            align-items: start;
            text-align: center;
            line-height: 26px;
            font-size: 18.1121px;
        }
        &:nth-child(2) {
            grid-area: name-two;
        }
        &:nth-child(3) {
            grid-area: name-three;
        }
        &:nth-child(4) {
            grid-area: name-four;
        }
        &:nth-child(5) {
            grid-area: name-five;
        }
        &:nth-child(6) {
            grid-area: name-six;
        }
        &:nth-child(7) {
            grid-area: name-seven;
        }
        &:nth-child(8) {
            grid-area: name-eight;
        }
        &:nth-child(9) {
            grid-area: name-nine;
        }
        &:nth-child(10) {
            grid-area: name-ten;
            display: grid;
            align-items: start;
        }
        &:nth-child(11) {
            grid-area: name-eleven;
            background-image: url("../images/download.png");
            background-position: -160px, -122px;
            color: #ffffff;
        }
        &:nth-child(12) {
            grid-area: name-twelve;
        }
        &:nth-child(13) {
            grid-area: name-thirteen;
        }
        &:nth-child(14) {
            grid-area: name-fourteen;
        }
        &:nth-child(15) {
            grid-area: name-fifteen;
        }
        &:nth-child(16) {
            grid-area: name-sixteen;
        }
    }
}


.content__item:first-child,
.content__item:nth-child(2),
.content__item:nth-child(3) {
    background-color: #A2A9B7;
    color: #fff;
}

.content__item:nth-child(4),
.content__item:nth-child(5),
.content__item:nth-child(7) {
    background-color: #E8EBED;
}

.content__item:nth-child(6) {
    background-color: #90BCE8;
}

.content__item:nth-child(8) {
    background-color: #FEBF26;
}

.content__item:nth-child(9),
.content__item:nth-child(10),
.content__item:nth-child(11) {
    background-color: #E3EBD3;
}

.content__item:nth-child(12),
.content__item:nth-child(13),
.content__item:nth-child(15) {
    background-color: #FFAA87;
}

.content__item:nth-child(14) {
    background-color: #F55E62;
}

.content__item:last-child {
    background-color: #C7ABD4;
}

.item {
    display: flex;
    align-items: end;
    &-line {
        flex: 1;
        height: 1px;
        border-bottom: 1px dotted #000000;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 10px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 155px);
        grid-template-areas:
                "name-four name-five"
                "name-seven name-seven"
                "name-six name-eight"
                "name-one name-two"
                "name-one name-three"
                "name-thirteen name-thirteen"
                "name-fifteen name-sixteen"
                "name-eleven name-fourteen";
    }
    .content__item:nth-child(1) {
        overflow: auto;
    }
    .content__item:nth-child(9),
    .content__item:nth-child(10),
    .content__item:nth-child(12) {
        display: none;
    }

}