doctype
html(lang='en')
    head
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet", href="css/main.css")
        title mobile-test
    body
        .container
            .header header
            .content
                .content__item Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                .content__item Чувство однократно
                .content__item Морено
                .content__item Наши сотрудники
                .content__item Просветляет понимающий тест
                .content__item Интроекция
                .content__item Конформизм
                .content__item Наши сотрудники
                .content__item Понятие модернизации понимает механизм власти
                .content__item
                    .item
                        span.item-text Фамилия
                        span.item-line
                        span.item-text Мамай
                    .item
                        span.item-text Имя и отчество
                        .item-line
                        span.item-text Станиславаленина Владимировна
                    .item
                        span.item-text Номер полиса выдан заведомо ложный
                        span.item-line
                        span.item-text 01354879
                    .item
                        span.item-text Дата рождения
                        span.item-line
                        span.item-text 01.12.1976
                    .item
                        span.item-text Телефон
                        span.item-line
                        span.item-text +79254218069
                .content__item Наши сотрудники
                .content__item Лидерство
                .content__item Однако
                .content__item Невероятный гений
                .content__item Точка перегиба
                .content__item Длина вектора
            .footer footer
